.title-pages{

    padding-top: 30px;
    padding-left: 40px;
    width: 100%;
    height: 62px;
    background: #1890FF;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    margin: none;
    align-items: center;
}

.nav-logo-text{

    color: #FFF;
    text-decoration: none;
    
    a{
        &.active{
            font-weight: bold;
            color: #FFF;
        }

        &:hover{
            color: #FFF;
        }
    }
    margin: none;
}




