.title-pages{
    padding-top: 15px;
    padding-left: 40px;
    height: 65px;
    background: #1890FF;
    font-size: 24px;
    color: #FFF;
}

.nav-logo-text{

    color: #FFF;
    text-decoration: none;
    
    a{
        &.active{
            font-weight: bold;
            color: #FFF;
        }

        &:hover{
            color: #FFF;
        }
    }
}


