.home-text{
  padding-top: 180px;  
  padding-left: 120px;
}


.text-title{
    width: 580px;
    height: 128px;
    left: 120px;
    font-family: Roboto;
    font-size: 48px;
    line-height: 64px;
}

.text-subtitle{
    padding-top: 25px; 
    width: 612px;
    height: 216px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.btn-p {
  padding-top: 45px;
  padding-left: 120px;
}